@import "variables";
@import "mixins";

.emailButton{
    @include flexPosition();

    #input-with-icon-grid-label{
        color: white;
    }

    .EmailButton__container{
        display: flex;

       

        
       
    }
}
// #input-with-icon-grid {
//     color:red;

// }

#input-with-icon-grid-label{
    color:white;
}
#__next > div > div > div > div.home__footer > div.EmailButton__container > div > button{
    color: white;
    width: 200px;
    margin-top:20px ;
}
