@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import "mixins";

.home__main{
    // position: absolute;
    // @include flexPosition();
    // width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    h1{
        z-index: 1;
        color: white;
        text-align: center;
        font-family: 'Spartan', sans-serif;
        font-family: 'Roboto Mono', monospace;
        margin: 1.5rem;   
        font-size: 3rem;   
    
    }
    h4{
        font-style: italic;
    }
    
    
    

.aceText{
    color: rgb(209, 90, 110);
    font-size: 3rem;  
}

.homeContent{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 40vh;
    color: white;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    // @include flexPosition();
    // flex-direction: column;

    a{
        color: pink;
    }
    
}
.home__footer{
    @include flexPosition();
    justify-content: space-between;
    flex-direction: row;
    width: 95vw;
    flex-direction: row;
    align-items: center;
    @include for-phone-only{
        flex-direction: column;
        flex-wrap: wrap;
    }
 
}
#subheading{
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-family: 'Spartan', sans-serif;
}
.homeTitle{
}
#date{
    font-size: 1.8rem;
    margin: 1.5rem;
}
#tagLine{
    margin: 0px;
}
#contact{
    margin: 1rem;
}

}
