@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.home__main{
    position: absolute;
    // @include flexPosition();
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    h1{
        z-index: 1;
        color: white;
        margin: 0px;
        text-align: center;
        font-family: 'Spartan', sans-serif;
        font-family: 'Roboto Mono', monospace;
        margin: 35px;   
        font-size: 3rem;   
    
    }
    h4{
        font-style: italic;
    }
    
    
    

.aceText{
    color: rgb(209, 90, 110);
}

.homeContent{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 40vh;
    color: white;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    // @include flexPosition();
    // flex-direction: column;

    a{
        color: pink;
    }
    
}
.home__footer{
    @include flexPosition();
    justify-content: space-between;
    // margin: 20px;
    flex-direction: row;
    // height: 20%;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 600px) {
         flex-direction: column;
         flex-wrap: wrap;
    }
 
}
#subheading{
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-family: 'Spartan', sans-serif;
}
.homeTitle{
}


}
