@import"variables";
@import"mixins";


.mainBody{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color:$flagColor1;
    background-image:linear-gradient(to bottom,
    $flagColor1,
    $flagColor2,
    $flagColor3,
    $flagColor4,
    
    );

    h1{
        margin: 0px;
    }
}
