@import"variables";
@import"mixins";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
body{
    margin: 0px;
}

.mainBody{
    @include flexPosition();
    position:relative;
    z-index: 1;
     margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color:$flagColor1;
    background-image:linear-gradient(to bottom,
    $flagColor1,
    $flagColor2,
    $flagColor3,
    $flagColor4,
    
    );
    background: linear-gradient(160deg, #fdcd3b 20%, #ffed4b 20%);
    background: -webkit-linear-gradient(80deg, $flagColor4  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(70deg, $flagColor3 50%, $flagColor1 0%);
    background: 
    conic-gradient(from var(--b) at var(--xy), 
      var(--c0) var(--a), var(--c1) 0% 50%, 
      var(--c2) 0% calc(180deg + var(--a)), var(--c3) 0%);

    background-image:url("../components/Wave-100s-1084px (2).svg");

    h1{
        z-index: 1;
        color: white;
        margin: 0px;
        text-align: center;
        font-family: 'Spartan', sans-serif;
        padding-top: 20px;
        opacity: 1;
    }
    .imageHolder{
        background-image: url('https://media.wired.com/photos/5e618502dd088e00081102a9/2:1/w_2400,h_1200,c_limit/Biz-conference-187591171.jpg');
        height: 100vh;
        opacity: 0.4;
        position: absolute;
        width: 100vw;
    }

    img{
        width: 100%;
        object-fit: cover;
    opacity: 0.4;
    height: -webkit-fill-available;
    }
}
