@import "mixins";

.socialIcons{
    // width: 100px;
    @include flexPosition();
    flex-direction: column;
    svg{
        margin: 10px;
        cursor: pointer;
    }
}

<<<<<<< HEAD
svg{
    // margin: 10px;
    // height: 20px;
}
=======
>>>>>>> ba7b318c86e5ad5106b2e383a578afa509d2ae96
